*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
@media (max-width: 340px) {
  html {
    font-size: 9.5px;
  }
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.container {
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 0 20px;

  max-width: 900px;
}
.container:first-child {
  margin-top: 40px;
}
.container:last-child {
  margin-bottom: 40px;
}
/*Short Overview block*/
.short-overview__flex-container {
  display: flex;
}
@media (max-width: 720px) {
  .short-overview__flex-container {
    flex-direction: column;
    align-items: center;
  }
}
.short-overview__flex-item-photo {
  flex: 0 1 350px;
}
.photo__img {
  margin: 0 auto;

  display: block;
  max-width: 250px;
}
.photo__caption {
  text-align: center;
  margin-top: 10px;

  font-size: 2rem;
  font-weight: normal;
}
.short-overview__flex-item-aside {
  margin-top: 10px;
}
.contacts {
  list-style: none;
}
.contacts__link {
  text-decoration: none;
}
.short-overview__contacts::after {
  content: "";

  margin-top: 20px;

  display: block;

  border-top: 1rem solid #16131a;
  border-radius: 10px;
}
.contacts__item {
  padding-bottom: 10px;

  font-size: 2rem;
}
@media (max-width: 720px) {
  .contacts__item {
    flex-direction: column;
    align-items: center;
  }
}
.contacts__icon {
  vertical-align: middle;
  margin-right: 10px;

  max-width: 40px;
}
.skills {
  justify-content: space-between;
  flex-wrap: wrap;

  margin-left: 20px;
  padding-top: 40px;

  display: flex;

  list-style: none;
}
@media (max-width: 720px) {
  .skills {
    justify-content: start;
  }
}
.skills__item {
  padding-bottom: 15px;

  flex: 0 1 150px;

  font-size: 2rem;
}
.list-item {
  padding-left: 5px;

  list-style-image: url(../img/list-circle-purple.svg);
}
/*About me block*/
.title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 2.3rem;
  font-weight: normal;
}
.title::after {
  content: "";

  margin: 0 auto;
  margin-top: 0.4rem;
  margin-bottom: 2rem;

  width: 150px;

  border-top: 3px solid black;
  display: block;
}
.text {
  margin: 0 auto;

  max-width: 500px;

  font-size: 1.7rem;
  line-height: 1.5;
}
.text_bold {
  font-weight: bold;
}
.projects {
  padding-left: 20px;

  list-style: none;
}
.projects__item {
  padding-bottom: 10px;
}
.projects__link {
  text-decoration: none;
}
.places {
  padding-left: 20px;

  list-style: none;
}
.places__item {
  padding-bottom: 10px;
}
/*Footer*/
.footer {
  flex-shrink: 0;

  background-color: #d1d1d1;
}
.footer__contacts {
  margin: 0 auto;

  width: 250px;
}
.footer__item {
  text-align: center;
}
